$primary-color: #55c57a;
$primary-light-color: #7ed56f;
$primary-dark-color: #28b485;
$color-brown-light: #777;
$color-grey-light: #3B3B3B11;
$color-grey-dark: #3a3737b9;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-light-black: #d9cece;
$color-black: black;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$default-font-size: 1.6rem;
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
