

.section-about{
    background-color: $color-grey-light;
    padding: 20rem 0;
    margin-top: -20vh;
    margin-bottom: -13vh;
    // height: 122vh;
}

.section-features{
//   text-align: center;
  padding: 20rem 0;
background-image: linear-gradient(to right bottom, rgba($primary-light-color, .7), rgba($primary-color, .8)), url("/img/nat-4.jpg");
background-size: cover;
transform: skewY(-7deg);

& > * {
    transform: skewY(7deg);
}

}

.section-tour{
  background-color: $color-grey-light;
  padding: 40rem 0rem 10rem 4rem;
  margin-top: -8rem;
  
}

.section_stories{
  background-color: $color-grey-light;
 padding: 15rem 0;
}